[Desktop Entry]
Encoding=UTF-8
Name=AT&T Gateway Management Portal
Comment=Web Portal to Manage AT&T Router Settings
Type=Link
Categories=WebApps;
URL=http://192.168.1.254
Icon=cs-network

Name[en_US]=AT&T Gateway Management Portal.desktop
