[Desktop Entry]
Encoding=UTF-8
Name=Facebook Messenger
Comment=Instant messaging app and platform developed by Meta
Type=Link
Categories=WebApps;
URL=https://www.messenger.com/t/
Icon=FacebookMessenger-facebook.com
Name[en_US]=Facebook Messenger.desktop
