[Desktop Entry]
Encoding=UTF-8
Name=Google Messages
Comment=SMS, RCS, and instant messaging application developed by Google
Type=Link
Categories=WebApps;
URL=https://messages.google.com/web/authentication
Icon=web-google-apps-script
Name[en_US]=Google Messages
