[Desktop Entry]
Encoding=UTF-8
Name=Google Voice
Comment=Telephone service that provides a U.S. phone number to Google Account customers
Type=Link
Categories=WebApps;
URL=https://voice.google.com/u/0/messages
Icon=web-google-apps-script
Name[en_US]=Google Voice.desktop
