[Desktop Entry]
Version=1.0
Name=Google Messages
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="web-google-apps-script" firefox --class WebApp-GoogleMessages8969 --profile /home/joe/.local/share/ice/firefox/GoogleMessages8969 --no-remote "https://messages.google.com/web/authentication"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-google-apps-script
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-GoogleMessages8969
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://messages.google.com/web/authentication
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

