.geary-folder-frame .sidebar .cell {
        padding: 1px;

}
.geary-folder-frame {
        min-width: 220px;
}

.geary-conversation-frame > border {
        min-width: 0px;
}

geary-conversation-viewer {
        min-width: 0px;
}
